/*
 * General Styles
*/

html {
  font-size: 100%;
}

body {
  background: url('../images/molangLogo.jpg');
  font-family: 'FranxurterTotallyMedium-gxwjp';

  /* Full Page Background Receipe */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

p {
  font-size: 1rem;
  line-height: 1.75;
  margin-bottom: 1.75rem;
}

strong {
  font-weight: bold;
}

ul li {
  list-style: decimal inside;
}

/*
 * Heading Styles
*/

h1,
h2 {
  font-family: "FranxurterTotallyFat-X3G4Z";
  color: #e22f8f;
  text-align: center;
  margin-bottom: 2rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

/*
 * Container Styles
*/

.container {
  width: 37.5rem;
  margin: 6.25rem auto;
}


/*
 * Header Styles
*/

.header img {
  width: 100%;
  border-radius: 1.25rem 1.25rem 0 0;
}

.header {
  line-height: 0;
}

/*
 * Section Styles
*/

section.intro {
  padding: 2.5rem;
}

section.intro {
  background: #fff;
  border-radius: 0 0 1.25rem 1.25rem;
}

/*
 * Aside Styles
*/

aside.left {
  float: left;
}

aside.right {
  float: right;
}

aside {
  margin-right: 1.5rem;
  margin-bottom: 0.625rem;
}

/*
 * Font Import
*/

@font-face {
  font-family: "FranxurterTotallyFat-X3G4Z";
  src: url(../fonts/FranxurterTotallyFat-X3G4Z.ttf); /* IE9 Compat Modes */
  src: url(../fonts/FranxurterTotallyFat-X3G4Z.ttf) format('embedded-opentype'), /* IE6-IE8 */
       url(../fonts/FranxurterTotallyFat-X3G4Z.ttf) format('woff'), /* Modern Browsers */
       url(../fonts/FranxurterTotallyFat-X3G4Z.ttf)  format('truetype'), /* Safari, Android, iOS */
       url(../fonts/FranxurterTotallyFat-X3G4Z.ttf) format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: "FranxurterTotallyMedium-gxwjp";
  src: url(../fonts/FranxurterTotallyMedium-gxwjp.ttf); /* IE9 Compat Modes */
  src: url(../fonts/FranxurterTotallyMedium-gxwjp.ttf) format('embedded-opentype'), /* IE6-IE8 */
       url(../fonts/FranxurterTotallyMedium-gxwjp.ttf) format('woff'), /* Modern Browsers */
       url(../fonts/FranxurterTotallyMedium-gxwjp.ttf)  format('truetype'), /* Safari, Android, iOS */
       url(../fonts/FranxurterTotallyMedium-gxwjp.ttf)zz format('svg'); /* Legacy iOS */
}
